div {
	height:265px;
	width:745px;
	display:inline-block;
}

#graph {
	background-color:#C0C0C0;
	margin:0px auto 0px auto;
}

#rawData {
	background-color:#C0C0C0;
	margin:0px auto 0px auto;
}

p.content-one {
	display:none;
}

#wrapper {
	
}

